.down-btn {
  color: #70c37a;
}

.up-btn {
  color: #a2ff7c
}

.swich-btn {
  vertical-align: middle;
  text-align: center;
  width: 150px;
  background-color: #e1e1e1;
  max-height:40px;
  margin-top:6px;
}

.active {
  background-color: #3c4044;
}
