
  <h1>Здравствуйте.</h1>
  <p>Мы из компании <i>"Оруфлейм"</i>.</p>
  <h2>Скопировал текст из последних диктантов для массовки.</h2>
  <p>
    Шёл 1900 год, из-за двух гладких нолей казавшийся Сане похожим на одноместную коляску-эгоистку. И правда — всё вокруг мелькало, с невиданной прежде быстротой менялось и, вдруг замерев, подпрыгивало. Следом подпрыгивало и Санино сердце и, оказавшись где-то в горле, ухало вниз, маленькое, дрожащее и всё-таки — ликующее. Саня не был готов к таким переменам — не поспевал. Он стал скверно спать и за несколько недель вытянулся, почти сравнявшись ростом с мамой. От детских кудряшек не осталось и следа: волосы Сани потемнели, стали жёсткими, прямыми и — к его ужасу и стыду — опушили даже верхнюю губу и подмышки.

    Сане шёл двенадцатый год — первая пора отрочества. Зимой управляющий рестораном, осторожный, лёгкий и злой, как хорёк, предложил маме устроить Саню мальчиком, сперва в буфет, а дальше — видно будет. Внешность для холуя — самая подходящая. Опять же, грамоту знает. Ежели за стакан не возьмётся, годам к тридцати до буфетчика выслужится.

    Мама, обычно холодная, как оконное стекло, была в такой ярости, что переколотила дома всю посуду. Хотела даже просить расчёт, но опомнилась: в других ресторанах и своих певиц хватало. Потому мама просто перестала брать Саню с собой, и он впервые оказался предоставлен самому себе. Поначалу Саня робел один выйти наружу, скучал, слонялся, не зная, чем заняться, — то по комнатам, то по двору. Но к весне осмелел настолько, что исследовал сперва окрестные улицы, а потом и весь обитаемый воронежский мир.

    Мир этот оказался полон женщинами.

    Саня, разинув от восхищения рот, смотрел на проплывающих по Большой Дворянской разодетых дам, похожих на вазы с фруктами и цветами. На гимназисток, вечно державшихся дрожащими стайками, словно мотыльки. На горничных девушек, спешащих по хозяйкиным делам и прошивающих город мелкими аккуратными стежками.

    Саня влюбился во всех них сразу — и навсегда.

    Подробные комментарии к тексту
  </p>
  <h2>Если вы вдруг это прочитаете, то я бы хотел узнать, зачем?</h2>
  <p>
    К середине лета Воронеж вымирал: приличная публика разъезжалась по имениям, по дачам, мода на которые наконец докатилась и до Черноземья; даже солидный ремесленный люд вдруг вспоминал о своём крестьянском прошлом и, влекомый властным зовом страды, отправлялся в некогда родные деревни, сёла, на дальние хутора. А уж артельных и вовсе было не удержать: снимались с места за ночь все скопом, иной раз бросив недоконченное дело и не получив даже долгожданный расчёт — на горе хозяину, в чистый убыток себе.

    Погода вон какая звонкая стоит! Господь управил.

    В Воронеже оставался совсем уже неприкаянный народишко, которому не нашлось за городом живого прохладного места, — мелкие чиновники, мастеровые да челядь всех марок и мастей. Ресторан, не разжившийся летней верандой, тоже стоял полупустой, скучный. Почти всех официантов рассчитали до осени, немногие оставшиеся часами подпирали стены. В певицах надобности больше не было, поэтому маму тоже отпустили, и она целыми днями лежала в полутёмной от задёрнутых штор, душной, крупно простёганной пыльными лучами комнате, измученная, угрюмая, изредка опуская слабую руку, чтобы нашарить в стоящей прямо на полу глиняной миске ягоду попрохладнее и покрупнее. Землянику, вишню, а потом и крыжовник Саня таскал для неё с рынка — решётами.

    Сам он радовался пустому просторному городу и возможности беспрепятственно слоняться дотемна где угодно — даже по Большой Дворянской, обычно недоступной из-за гимназистов, ревниво оберегающих свои владения от безродных чужаков. Когда чужаков не находилось, гимназисты охотно дрались с семинаристами из духовного училища, которое располагалось тут же, неподалёку. Ещё на углу стояла Мариинская женская гимназия. Здание её, небольшое, строгое, в два этажа, всегда казалось Сане таким же изящным, как и сами гимназистки, на лето разъехавшиеся из города.

    В этом году всё: и лето, и безлюдье, и даже невидимые гимназистки — волновало его, как волнует случайно услышанная полька-бабочка. Будоражило.

    Саня вырос.
  </p>
  <div style="height:2500px;">

  </div>
  <br />
  <div style="text-align:right;">
    <h3>Лев</h3>
    <img src="https://pngimg.com/uploads/tiger/tiger_PNG23251.png" alt="Alternate Text" />
    <!--<p style="font-size:7px;">у вас битый пиксель</p>-->
  </div>

<!--<div class="pixy"></div>-->
